.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
  
  .lesson {
    width: 50%;
    height: 400px;
    margin-bottom: 50px;
  }
  
  .media-sosial-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .afiliasi-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyrights {
    text-align: center;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .lesson {
    width: 100%;
  }
  
  .media-sosial-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .afiliasi-ikon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyrights {
    text-align: center;
  }

  .kominfo {
    object-fit: contain;
    height: 35px;
    width: auto;
    margin-right: 20px;
  }

  .dts {
    object-fit: contain;
    height: 35px;
    width: auto;
  }

  .progate {
    object-fit: contain;
    height: 35px;
    width: auto;
  }

  .copyrights {
    font-size: 10px;
  }
}
